
.container{
    text-align: center;
    border-radius:10px ;
    margin-top: 34px;
}

table{
    
    margin: auto;
}

input{
    font-size:33px;
    width: auto;
    height: 30px;
    border: 3px solid rgb(58, 34, 34);
    border-radius:21px;
    padding: 0 12px;
}

button{
    font-size:41px; 
    background-color:rgb(192, 184, 173);
    width: 100px;
    height: 57px;
    cursor: pointer;
    border-radius: 18px;
}

.calculator{
    padding: 10px 0;
    background-color: rgb(151, 93, 93);
    border-radius: 15px;
    display: inline-block;
}

h1{
    color: red;
}